/*This portion is for the Body*/
body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(0deg, rgb(39, 19, 61) 0%, rgb(202, 202, 202) 63%);
} /*End Body*/

/*This portion is for the Header*/
header {
    padding: 20px;
    text-align: center;
    background: #170336;
    color: #fff;
}

header p1 {
  font-size: 20px;
} /*End Header*/

/*This portion primarily focuses on the buttons*/
button {
    background: radial-gradient(circle, rgb(255, 255, 255) 0%,rgba(115, 61, 240, 0.954) 100%);
    border-radius: 8px;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    margin-top: 0.4em;
  }
  
  .answerButton {
    margin: 5px;
    font-size: 18px;
  }

  .goBackButton,
  .submitName {
    font-size:30px;
  }
  /*End of buttons*/


  /*This portion focuses on the main elements that include the body element*/
  main {
    display: flex;
    justify-content: center;
  }

  section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
  }

  section h2 {
    display: flex;
    justify-content:center;
    font-size: 50px;
    text-align: center;
  }

  #controls {
    display: flex;

  }

   #view {
     position: relative;
     top: -5em;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size:30px;
   }

  #time {
    height: 30px;
    padding: 6px;
    position: relative;
    top: -77px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 35px;
  }

#view #text {
  font-size:20px;
}

  input {
    margin: -15px;
    height: 30px;
    width: 300px;
    font-size: 30px;
    text-align: center;
  }
/*End of Main/Body*/